<div class="row">
  <div class="col-auto">
    <h1> Your Dashboard</h1>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<br>

<div>
  <button id="make-post">Create Post!</button>
</div>

<div class="row mt-4">
{{!-- posts --}}

<div
  {{#each posts as |post|}}
  <div></div>
  <div>
    <div class="dashboard-post col-md-8">
      <h4><a href="/dashboard/{{post.id}}">{{post.title}}</a></h4>
      <p>{{format_date post.date}}</p>
    </div>
  {{/each}}
  </div>
  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Post:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/dashboard/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src='/js/dashboard.js'></script>