<div class="row">
  <div class="col-auto">
    <h1> Your Dashboard</h1>
    <h2>Welcome, {{name}}!</h2>
    <p>hello {{id}}</p>
  </div>
</div>

<br>

<div>
  <button id="make-post">Create Post!</button>
</div>

<div class="row mt-4">
  {{!-- add if else show post / else have statment user has no post --}}
  {{!-- edit posts --}}
  <div class="width">
    {{#each posts as |post|}}
      <div class=" post dashboard-post col-md-8">
        <h4><a href="/editpost/{{post.id}}">{{post.title}}</a></h4>
        <p>{{post.user.name}} {{format_date post.date}}</p>
      </div>
    {{/each}}
  </div>

  <br>

  {{!-- edit comments --}}
  <div>
    {{#each comments as |comment|}}
    <div class="comment col-md-8">
      <h1>Comment</h1>
      <div class="dashboard-post col-md-12">
        <h2>Post: {{comment.post.title}}</h2>
        <p>- {{format_date comment.post.date}}</p>
      </div>
      {{!-- <p hidden>{{comment.id}}</p> --}}
      <h2>{{comment.content}}</h2>
      <h3>-{{comment.user.name}}, {{format_date comment.date}}</h3>
      <button><a href="/editcomment/{{comment.id}}">Edit Comment</a></button>
    </div>
    <br>
    {{/each}}
  </div>
</div>
<script src='/js/dashboard.js'></script>